<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Resumetrics | How It Works</title>
  </head>

  <body bgcolor="#fff0ec">
    <!-- Navbar -->
    <nav class="relative container mx-auto p-6">
      <!-- flex container  -->
      <div class="flex items-center justify-between">
        <!-- logo  -->
        <div class="pt-2">
          <a href="mainpage"><img src="../static/img/FINAL LOGO.png" alt="" class=""></a>
        </div>
        <!-- menu items  -->
        <div class="hidden space-x-6 md:flex">
          <a href="candidate" class="hover:text-darkGrayishBlue">Candidate</a>
          <a href="company" class="hover:text-darkGrayishBlue">Company</a>
          <a href="howitworks" class="hover:text-darkGrayishBlue">How It Works</a>
          <a href="aboutus" class="hover:text-darkGrayishBlue">About Us</a>
          <!-- <a href="#" class="hover:text-darkGrayishBlue">Community</a> -->
        </div>
        <!-- button  -->
        <a
          href="#"
          class="hidden p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight md:block"
          >Get Started</a
        >
        <!-- hamburger menu  -->
        <button
          id="menu-btn"
          class="block hamburger md:hidden focus:outline-none"
        >
          <span class="hamburger-top"> </span>
          <span class="hamburger-middle"> </span>
          <span class="hamburger-bottom"> </span>
        </button>
      </div>
      <!-- mobile menu  -->
      <div class="md:hidden">
        <div
          id="menu"
          class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
        >
          <a href="candidate">Candidate</a>
          <a href="company">Company</a>
          <a href="howitworks">How It Works</a>
          <a href="aboutus">About Us</a>
        </div>
      </div>
    </nav>

    <!-- write your center screen code design here  -->

    <div class="bg-#fff0ec py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
          <!-- <h2 class="text-base font-semibold leading-7 text-indigo-600">Deploy faster</h2> -->
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            How does Resumetrics work ?
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            Resumetrics is an easy to use resume analysis website with some
            amazing features which enhance its usability. 
            <!-- Quis tellus eget
            adipiscing convallis sit sit eget aliquet quis. Suspendisse eget
            egestas a elementum pulvinar et feugiat blandit at. In mi viverra
            elit nunc. -->
          </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
          >
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div
                  class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
                >
                <img src="../static/img/company logo new.jpg" alt="">
                  <!-- <svg
                    class="h-6 w-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"
                    />
                  </svg> -->
                </div>
                Company - Choose Your Preference
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                Once you login to your profile, select your preferences and desired openings position.
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div
                  class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
                >
                <img src="../static/img/employee logo new 2.png" alt="">
                  <!-- <svg
                    class="h-6 w-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
                    />
                  </svg> -->
                </div>
                Candidate - Choose Your Preference
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                Once you login to your profile, select your desired company and corresponding openings/position.
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div
                  class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
                >
                <img src="../static/img/company logo new.jpg" alt="">
                  <!-- <svg
                    class="h-6 w-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
                    />
                  </svg> -->
                </div>
                Company - Select Your Dream Employee
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                Next, you would be presented with the list of all employees who have applied for a corresponding positon and their resume analysis.
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div
                  class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
                >
                <img src="../static/img/employee logo new 2.png" alt="">
                  <!-- <svg
                    class="h-6 w-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
                    />
                  </svg> -->
                </div>
                Candidate - Upload Your Resume
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                Once you fill in your details you can upload your resume and then answer some questions related to the position you are applying.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <!-- then your footer code here  -->
    <footer class="bg-veryDarkBlue">
      <!-- flex container  -->
      <div
        class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0"
      >
        <!-- logo and social links container  -->
        <div
          class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start"
        >
          <div class="mx-auto my-6 text-center text-white md:hidden">
            Copyright &copy; 2022, All Rights Reserved
          </div>
          <!-- logo  -->
          <div>
            <img src="../static/img/logo-white.svg" alt="" class="h-8" />
          </div>
          <!-- social links container  -->
          <div class="flex justify-center space-x-4">
            <!-- link 1  -->
            <a href="#" class="">
              <img src="../static/img/icon-facebook.svg" alt="" class="h-8" />
            </a>
            <!-- link 2  -->
            <a href="#" class="">
              <img src="../static/img/icon-youtube.svg" alt="" class="h-8" />
            </a>
            <!-- link 3  -->
            <a href="#" class="">
              <img src="../static/img/icon-twitter.svg" alt="" class="h-8" />
            </a>
            <!-- link 4  -->
            <a href="#" class="">
              <img src="../static/img/icon-pinterest.svg" alt="" class="h-8" />
            </a>
            <!-- link 5  -->
            <a href="#" class="">
              <img src="../static/img/icon-instagram.svg" alt="" class="h-8" />
            </a>
          </div>
        </div>
        <!-- list container  -->
        <div class="flex justify-around space-x-32">
          <div class="flex flex-col space-y-3 text-white">
            <a href="mainpage" class="hover:text-brightRed">Home</a>
            <a href="candidate" class="hover:text-brightRed">Candidate</a>
            <a href="company" class="hover:text-brightRed">Company</a>
            <!-- <a href="#" class="hover:text-brightRed">About</a> -->
          </div>
          <div class="flex flex-col space-y-3 text-white">
            <a href="aboutus" class="hover:text-brightRed">About Us</a>
            <a href="howitworks" class="hover:text-brightRed">How It Works</a>
            <!-- <a href="#" class="hover:text-brightRed">Privacy Policy</a> -->
          </div>
        </div>
        <!-- input container  -->
        <div class="flex flex-col justify-between">
          <!-- <form action="">
            <div class="flex space-x-3">
              <input
                type="text"
                class="flex-1 px-4 rounded-full focus:outline-none"
                placeholder="Updated in your Inbox"
              />
              <button
                class="px-6 py-2 text-white rounded-full bg-brightRed hover:bg-brightRedLight focus:outline-none"
              >
                Go
              </button>
            </div>
          </form> -->
          <div class="hidden text-white md:block">
            Copyright &copy; 2022, All Rights Reserved
          </div>
        </div>
      </div>
    </footer>
    <script src="../static/js/script.js"></script>
  </body>
</html>

<!-- 
.py-24 {
  padding-top: 2rem;
  padding-bottom: 6rem;
} -->

<!-- @media (min-width: 480px) {
.sm\:py-32 {
  padding-top: 2rem;
  padding-bottom: 8rem;
}
} -->
